.media.no-margin
  .media-left

    %user-link{user: "user"}
      %img.img-50{"ng-src" => "{{user.avatar_url}}"}
  .media-body.media-bottom
    .text-nowrap
      %user-link.title.primary{user: "user"} {{user.name}}

    .item-tags

      %span.item.text-nowrap.primary{"ng-show" => "user.online"}
        %i.fa.fa-circle.fa-fw
        %span> {{"user_directives.online" | t}}

      %span.item.text-nowrap{"ng-show" => "!user.online"}
        %i.fa.fa-clock-o.fa-fw
        %span> {{"user_directives.last_seen" | t}}
        %span &nbsp;
        %span{"am-time-ago" => "user.last_seen_at", "am-preprocess" => "unix"}>
