%table.greeting{:style => "padding: 40px 4% 25px 4%;margin: 0;border-spacing: 0;width: 100%;max-width: 1200px;background-color: #f7f7f7 ;vertical-align: baseline;"}
  %tr{:style => "padding: 0;margin: 0;border-spacing: 0;"}
    %td{:style => "padding: 0;margin: 0;border-spacing: 0;"}
      %p.intro{:style => "font-family: Montserrat, Helvetica, Arial, '冬青黑体', 'Hiragino Sans GB', '微軟正黑體', 'Microsoft JhengHei', '黑体', 'SimHei', '华文黑体', 'STHeiti', sans-serif;font-weight: 400;font-size: 16px;line-height: 23px;color: #505050 ;padding: 0px 0 10px 0;margin: 0;"}
        = t "emails.greeting_name", name: name_to
      %p.intro{:style => "font-family: Montserrat, Helvetica, Arial, '冬青黑体', 'Hiragino Sans GB', '微軟正黑體', 'Microsoft JhengHei', '黑体', 'SimHei', '华文黑体', 'STHeiti', sans-serif;font-weight: 400;font-size: 16px;line-height: 23px;color: #505050 ;padding: 0px 0 10px 0;margin: 0;"}
        = newsletter.intro
%table.content{:style => "padding: 30px 4% 10px 4%;margin: 0;border-spacing: 0;width: 100%;max-width: 1200px;background-color: #fff;vertical-align: top;border-bottom: 1px solid #f2f2f2 ;"}
  %tr{:style => "padding: 0;margin: 0;border-spacing: 0;"}
    %td{:style => "padding: 0;margin: 0;border-spacing: 0;"}
      = newsletter.content.html_safe
