-# #main-content{"ng-class" => "!isRetrievingProfile && session.connected ? 'sidebar-margin' : 'splash'"}
.app#main-content{"ng-class" => "!isRetrievingProfile && session.connected ? 'sidebar-margin' : ''"}

  
       
  .pages{ "ui-view" => "" }
