.view{
  background-color: white;
}
.condom{
  margin-top:81px;
  // background-color: white;
}
.app-bot{
  //ugly fix -- look into this later -- AJ help
  margin-top: -1px;
  background-color: white;
  overflow: auto;
}
.landing-title{
  font-size:35px;
  font-family:Roboto Slab;
  font-weight: 700;
}
.landing-title:after{
  content:"";
  display:block;
  width:15%;
  margin: 13px auto 0 auto;
  // margin-top:10px;

  border-top:solid 2px white;
}

#sidebar{
  float:left;
  width:17%;
}
.nav-signin{
  color:#00B0BD;
  font-size: 20px;
  padding:0 30px;

}
.nav-signin:hover{
  color:white;
}
.content-wrapper #main-content{
  // top:none;
  // bottom:none;
  // left:none;
  // right:none;
}
.channel-top{
  height:300px;
  background-size:cover;
  position: relative;
  padding-left:190px;
  // width: 80%;
  // float: right;
  // padding-bottom:20px;
}
.channel-inner{
  position:absolute;
  bottom:20px;
  height:100px;
  width: 300px;
  a{
    float: left;
    margin-top:43px;
    font-size: 40px;
  }
}
.channel-img{
  width:100px;
  float:left;
  margin-right:15px;
}
.top-right{
  position: relative;
  right: -120%;
  bottom: -60px;
  float: right;
}
