.page-header
  %h1 Logs
%table.table.table-striped
  %thead
    %tr
      %th #
      %th Content
  %tbody
    - @logs.each do |p|
      %tr
        %td= p.id
        %td
          %pre~ JSON.pretty_generate(JSON[p.content])
