.page-header
  %h1 Cities/Tags
%table.table.table-striped
  %thead
    %tr
      %th Position
      %th Name
      -# %th Small/Thumb
      %th Banner
  %tbody
    - @tags.each do |t|
      %tr
        -# %td= t.position
        %td
        %td= link_to t.name, edit_admin_acts_as_taggable_on_tag_path(t)
        -# %td
          -# = image_tag t.city_image.small.thumb('300x200#').url if t.city_image.small_stored?
          -# = image_tag t.city_image.banner.url(:thumb)
        %td
          -# = image_tag t.city_image.small.url(:thumb)
          = image_tag t.city_image.banner.thumb('300x200#').url if t.city_image.banner_stored?
    %tr
      %td
      %td
      %td= link_to "New", new_admin_acts_as_taggable_on_tag_path, class: "btn btn-primary btn-xs pull-right"
