%button.btn.btn-default{ "ng-hide" => "user.id == session.user.id", "ng-click" => "rateUser(user.user_rating == 1 ? 0 : 1)", "ng-class" => "user.user_rating == 1 ? 'active' : ''", "ng-disabled" => "isRating" }
  %i.fa{"ng-class" => "isBusy ? 'fa-spinner fa-pulse' : (user.user_rating == 1 ? 'fa-check' : 'fa-user-plus') "}
  %span.hidden-xs {{"follow_user_directive." + (user.user_rating == 1 ? "following" : "follow") | t}}